#ajouter {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 25px;
    color: gold;
    text-decoration: none;

}

#ajouter img {
    width: 95px;
    display: block;
    margin: auto;
    padding-top: 15px;
}

#ajouterpc {
    display: none;
}

@media screen and (min-width: 992px) {}