#avis h2 {
    background-color: darkblue;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-variant: small-caps;
    font-variant-caps: all-small-caps;
    color: gold;
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

#avis p {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 18px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: justify;
    color: white;
}


@media screen and (min-width: 992px) {
    #avis {
        background-color: darkblue;
        border-radius: 5px;
        width: 750px;
        position: absolute;
        top: 1200px;
        left: 710px;
    }

    #avis h2 {
        font-size: 45px;
        background: none;
        text-align: center;
    }

    #avis p {
        margin-left: 45px;
        margin-right: 45px;
        margin-bottom: 25px;
        padding-bottom: 5px;
        color: white;

    }
}

@media screen and (min-width: 1600px) {
    #avis {
        background-color: darkblue;
        border-radius: 5px;
        width: 850px;
        position: absolute;
        top: 1250px;
        left: 830px;
    }

    #avis h2 {
        font-size: 45px;
        background: none;
        text-align: center;
    }

    #avis p {
        margin-left: 45px;
        margin-right: 45px;
        margin-bottom: 25px;
        padding-bottom: 5px;
        color: white;
        font-size: 22px;
    }
}