#critic h2 {
    background-color: darkblue;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-variant: small-caps;
    font-variant-caps: all-small-caps;
    color: gold;
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
}

#critic p {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    color: white;
}


@media screen and (min-width: 992px) {
    #critic {
        background-color: darkblue;
        font-family: "Kdam Thmor Pro", sans-serif;
        width: 700px;
        margin-top: 15px;
        margin-left: 700px;
        margin-bottom: 35px;
        border-radius: 5px;
    }

    #critic h2 {
        color: gold;
        font-size: 50px;
        background-color: none;
        border-radius: 5px;
        font-variant: small-caps;
        font-variant-caps: all-small-caps;
        text-align: center;
    }

    #critic p {
        margin-left: 45px;
        margin-right: 45px;
        margin-bottom: 25px;
        padding-bottom: 10px;
        color: white;
        font-size: 25px;
        text-align: center;
    }
}