.dashboardgame {
    background-color: darkblue;
    border: 3px solid gold;
    margin-top: 25px;
    margin-left: 65px;
    margin-right: 65px;
    border-radius: 5px;
    padding-bottom: 25px;

}

#dashgameimg {
    width: 150px;
    display: block;
    margin: auto;
}

.dashboardgame h2 {
    text-align: center;
    text-align: center;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-variant: small-caps;
    font-variant-caps: all-small-caps;
    color: gold;
    font-size: 55px;
}

.dashboardgame a {
    background-color: gold;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-family: "Kdam Thmor Pro", sans-serif;
    color: black;
    display: block;
    margin: auto;
    width: 100px;
}

.dashboarduser {
    background-color: darkblue;
    border: 3px solid gold;
    margin-top: 25px;
    margin-left: 65px;
    margin-right: 65px;
    border-radius: 5px;
    padding-bottom: 25px;
}

#dashuserimg {
    width: 150px;
    display: block;
    margin: auto;
}

.dashboarduser h2 {
    text-align: center;
    text-align: center;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-variant: small-caps;
    font-variant-caps: all-small-caps;
    color: gold;
    font-size: 55px;
}

.dashboarduser a {
    background-color: gold;
    text-align: center;
    padding: 5px;
    display: block;
    margin: auto;
    width: 100px;
    text-decoration: none;
    font-family: "Kdam Thmor Pro", sans-serif;
    color: black;
}

.dashboardadd {
    background-color: darkblue;
    border: 3px solid gold;
    margin-top: 25px;
    margin-left: 65px;
    margin-right: 65px;
    border-radius: 5px;
    padding-bottom: 25px;
}

.dashboardadd img {
    width: 150px;
    display: block;
    margin: auto;
}

.dashboardadd h2 {
    text-align: center;
    text-align: center;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-variant: small-caps;
    font-variant-caps: all-small-caps;
    color: gold;
    font-size: 25px;
    margin-top: 5px;
}

.dashboardadd a {
    background-color: gold;
    text-align: center;
    padding: 5px;
    display: block;
    margin: auto;
    width: 100px;
    text-decoration: none;
    font-family: "Kdam Thmor Pro", sans-serif;
    color: black;
}

@media screen and (max-width:400px) {
    .dashboardgame {
        background-color: darkblue;
        border: 3px solid gold;
        margin-top: 25px;
        margin-left: 65px;
        margin-right: 65px;
        border-radius: 5px;
        padding-bottom: 25px;
    }

    #dashgameimg {
        width: 100px;
        display: block;
        margin: auto;
    }

    .dashboardgame h2 {
        text-align: center;
        text-align: center;
        font-family: "Kdam Thmor Pro", sans-serif;
        font-variant: small-caps;
        font-variant-caps: all-small-caps;
        color: gold;
        font-size: 35px;
    }

    #dashuserimg {
        width: 100px;
        display: block;
        margin: auto;
    }

    .dashboarduser h2 {
        text-align: center;
        text-align: center;
        font-family: "Kdam Thmor Pro", sans-serif;
        font-variant: small-caps;
        font-variant-caps: all-small-caps;
        color: gold;
        font-size: 35px;
    }

    .dashboardadd img {
        width: 100px;
        display: block;
        margin: auto;
    }

    .dashboardadd h2 {
        text-align: center;
        text-align: center;
        font-family: "Kdam Thmor Pro", sans-serif;
        font-variant: small-caps;
        font-variant-caps: all-small-caps;
        color: gold;
        font-size: 25px;
        margin-top: 5px;
    }

}

@media screen and (min-width: 992px) {
    .ogdashboard {
        display: flex;
        justify-content: center;
        gap: 5px;
        flex-wrap: wrap;

    }

    .dashboardgame {
        background-color: darkblue;
        border: 3px solid gold;
        margin-top: 25px;
        margin-left: 65px;
        margin-right: 65px;
        border-radius: 5px;
        padding-bottom: 25px;
        width: 320px;

    }

    #dashgameimg {
        width: 150px;
        display: block;
        margin: auto;
    }

    .dashboardgame h2 {
        text-align: center;
        text-align: center;
        font-family: "Kdam Thmor Pro", sans-serif;
        font-variant: small-caps;
        font-variant-caps: all-small-caps;
        color: gold;
        font-size: 65px;
    }

    .dashboardgame a {
        background-color: gold;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        font-family: "Kdam Thmor Pro", sans-serif;
        color: black;
        display: block;
        margin: auto;
        width: 100px;
    }

    .dashboarduser {
        width: 320px;
    }

    .dashboarduser h2 {
        text-align: center;
        text-align: center;
        font-family: "Kdam Thmor Pro", sans-serif;
        font-variant: small-caps;
        font-variant-caps: all-small-caps;
        color: gold;
        font-size: 65px;
    }

    .dashboarduser a {
        background-color: gold;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        font-family: "Kdam Thmor Pro", sans-serif;
        color: black;
        display: block;
        margin: auto;
        width: 100px;
    }

    .dashboardadd {
        width: 320px;
    }

    .dashboardadd h2 {
        text-align: center;
        text-align: center;
        font-family: "Kdam Thmor Pro", sans-serif;
        font-variant: small-caps;
        font-variant-caps: all-small-caps;
        color: gold;
        font-size: 35px;
    }

    .dashboardadd a {
        background-color: gold;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        font-family: "Kdam Thmor Pro", sans-serif;
        color: black;
        display: block;
        margin: auto;
        width: 100px;
    }
}

@media screen and (min-width: 1600px) {
    .ogdashboard {
        display: flex;
        justify-content: center;
        gap: 5px;
        flex-wrap: wrap;

    }

    .dashboardgame {
        background-color: darkblue;
        border: 3px solid gold;
        margin-top: 25px;
        margin-left: 65px;
        margin-right: 65px;
        border-radius: 5px;
        padding-bottom: 25px;
        width: 420px;

    }

    #dashgameimg {
        width: 150px;
        display: block;
        margin: auto;
    }

    .dashboardgame h2 {
        text-align: center;
        text-align: center;
        font-family: "Kdam Thmor Pro", sans-serif;
        font-variant: small-caps;
        font-variant-caps: all-small-caps;
        color: gold;
        font-size: 65px;
    }

    .dashboardgame a {
        background-color: gold;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        font-family: "Kdam Thmor Pro", sans-serif;
        color: black;
        display: block;
        margin: auto;
        width: 100px;
    }

    .dashboarduser {
        width: 420px;
    }

    .dashboarduser h2 {
        text-align: center;
        text-align: center;
        font-family: "Kdam Thmor Pro", sans-serif;
        font-variant: small-caps;
        font-variant-caps: all-small-caps;
        color: gold;
        font-size: 65px;
    }

    .dashboarduser a {
        background-color: gold;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        font-family: "Kdam Thmor Pro", sans-serif;
        color: black;
        display: block;
        margin: auto;
        width: 100px;
    }

    .dashboardadd {
        width: 420px;
    }

    .dashboardadd h2 {
        text-align: center;
        text-align: center;
        font-family: "Kdam Thmor Pro", sans-serif;
        font-variant: small-caps;
        font-variant-caps: all-small-caps;
        color: gold;
        font-size: 35px;
    }

    .dashboardadd a {
        background-color: gold;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        font-family: "Kdam Thmor Pro", sans-serif;
        color: black;
        display: block;
        margin: auto;
        width: 100px;
    }
}