#fightoraventure {
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    gap: 3px;
    overflow: auto;
}

#fightoraventure ul li {
    margin-top: 5px;
    border: 2px solid black;
    list-style: none;
    width: 180px;
    margin-bottom: 5px;
    background-color: black;
    text-align: center;
    border-radius: 3px;
    height: 180px;
}

#fightoraventure ul li a {
    font-family: "Kdam Thmor Pro", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
}

#fightoraventure img {
    width: 100%;
}