header {
    background-color: darkblue;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

header .avatar {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    margin-right: 25px;
    margin-top: 7px;
}

header .bag {
    width: 130px;
    margin-right: 40px;
}

header .menu {
    width: 45px;
    height: 45px;
    position: relative;
    left: 5px;
    top: 12px;
}

#navconnect {
    display: none;
}

@media screen and (max-width: 400px) {
    header {
        background-color: darkblue;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    header .avatar {
        width: 75px;
        height: 75px;
        border-radius: 100%;
        margin-right: 25px;
        margin-top: 7px;
    }

    header .bag {
        width: 130px;
        margin-top: 5px;
    }

    header .menu {
        width: 45px;
        height: 45px;
        margin-right: 5px;
        margin-top: 5px;

    }
}

@media screen and (min-width: 992px) {
    header {
        background-color: darkblue;
        display: flex;
        justify-content: space-around;
    }

    header .avatar {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        position: relative;
        top: 12px;
        left: 990px;
    }

    header .menu {
        width: 45px;
        height: 45px;
        position: relative;
        left: 10px;
        top: 12px;
        display: none;
    }

    header .bag {
        width: 180px;
        position: relative;
        right: 920px;
    }
}

@media screen and (min-width: 1600px) {
    header {
        background-color: darkblue;
        display: flex;
        justify-content: space-around;
    }

    header .avatar {
        width: 90px;
        height: 90px;
        border-radius: 100%;
        position: relative;
        top: 10px;
        left: 1150px;
    }

    header .menu {
        width: 45px;
        height: 45px;
        position: relative;
        left: 10px;
        top: 12px;
        display: none;
    }

    header .bag {
        width: 200px;
        position: relative;
        right: 1230px;
        top: 2px;
    }
}