#jeux {
    background-color: darkblue;
    background-color: hsla(231, 100%, 25%, 0.65);
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    gap: 3px;
}

#jeux ul li {
    margin-top: 5px;
    border: 2px solid black;
    list-style: none;
    width: 180px;
    margin-bottom: 5px;
    background-color: black;
    text-align: center;
    border-radius: 3px;

}

#jeux ul li a {
    font-family: "Kdam Thmor Pro", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
}

#jeux img {
    width: 100%;
}


@media screen and (min-width: 992px) {
    #jeux {
        background: none;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        flex-direction: row-reverse;
        gap: 20px;
    }


    #jeux ul li {
        margin-top: 5px;
        border: 3px solid black;
        list-style: none;
        width: 450px;
        margin-bottom: 5px;
        background-color: black;
        text-align: center;
        border-radius: 3px;

    }

    #jeux ul li a {
        font-size: 20px;

    }

}