#likeordislike h2 {
    background-color: darkblue;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-variant: small-caps;
    font-variant-caps: all-small-caps;
    color: gold;
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

#result {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.like {
    width: 65px;
    background-color: gold;
    border-radius: 100%;
}

.greenlight {
    display: block;
    background-color: green;
}

.dislike {
    width: 65px;
    background-color: gold;
    border-radius: 100%;
}