#likeordislike h2 {
    background-color: darkblue;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-variant: small-caps;
    font-variant-caps: all-small-caps;
    color: gold;
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
.like {
    width: 85px;
    background-color: gold;
    border-radius: 100%;
}

.greenlight {
    display: block;
    background-color: green;
    border-radius: 100%;
    width: 85px;
}

.red {
    background-color: red;
}

.dislike {
    width: 85px;
    background-color: gold;
    border-radius: 100%;
}