.navigation {
    background-color: blue;
    width: 430px;
    height: 800px;
    display: none;
    position: absolute;
}

.navigation ul {
    position: relative;
    top: 55px;
}

.navigation ul li {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    list-style: none;
    text-align: center;
}

.navigation ul li a {
    color: gold;
    font-family: "Russo One", sans-serif;
    font-size: 35px;
    text-decoration: none;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-variant-caps: all-small-caps;

}

.display {
    display: block;
}

@media screen and (min-width:400px) {
    .navigation ul {
        position: relative;
        top: 55px;
    }

    .navigation ul li {
        margin-left: 5px;
        margin-right: 35px;
        margin-top: 15px;
        list-style: none;
        text-align: center;
    }

    .navigation ul li a {
        color: gold;
        font-family: "Russo One", sans-serif;
        font-size: 35px;
        text-decoration: none;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: black;
        font-variant-caps: all-small-caps;

    }

    .display {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .navigation {
        background: none;
        position: absolute;
        display: block;
        top: 1px;
        left: 255px;
        width: 995px;
        height: 95px;
    }

    .navigation ul {
        display: flex;
        gap: 15px;
        margin-top: 5px;
        margin-left: 95px;
    }

    .navigation ul li {
        margin: 0;
        border: none;
        list-style: none;


    }

    .navigation ul li a {
        color: gold;
        font-family: "Russo One", sans-serif;
        font-size: 30px;
        text-decoration: none;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: black;
        font-variant: small-caps;
        font-variant-caps: all-small-caps;

    }
}