#screenshots {
    display: none;
}

.screenshotmobile {
    width: 390px;
    margin-top: 15px;
    margin-left: 18px;
    border-radius: 3px;
    border: 1px solid white;
    margin-bottom: 5px;
}

#screentwo {
    display: none;
}

#screentwomobile {
    width: 390px;
    margin-top: 15px;
    margin-left: 18px;
    border-radius: 3px;
    border: 1px solid white;
    margin-bottom: 5px;
}

@media screen and (min-width: 992px) {
    #screenshots {
        width: 750px;
        margin-top: 25px;
        margin-left: 700px;
        display: block;
    }

    .screenshotmobile {
        display: none;
    }

    #screentwo {
        width: 750px;
        margin-top: 75px;
        margin-left: 15px;
        display: block;
    }

    #screentwomobile {
        display: none;
    }
}