.sectionstory {
    background-color: rgba(0, 0, 131, 0.915);
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 25px;
}

#geekorigin {
    width: 100%;
}

#geekstory {
    display: none;
}

.sectionstory .origins h2 {
    font-size: 45px;
    font-family: "Kdam Thmor Pro", sans-serif;
    text-align: center;
    color: gold;
    font-weight: bold;
    font-variant: small-caps;
    font-variant-caps: all-small-caps;
}

.sectionstory .origins p {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 18px;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
    color: white;
    margin-bottom: 35px;
    margin-top: 10px;
}

.sectionstory .origins a {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 20px;
    margin-top: 55px;
    text-align: center;
    text-decoration: none;
    background-color: gold;
    color: black;
    border: 2px solid black;
    margin: auto;
    padding: 2px;
    padding-left: 85px;
    padding-right: 85px;
    margin-left: 89px;
    border-radius: 5px;
    margin-top: 15px;
}

@media screen and (max-width: 400px) {
    .sectionstory .origins a {
        font-family: "Kdam Thmor Pro", sans-serif;
        font-size: 20px;
        margin-top: 55px;
        text-align: center;
        text-decoration: none;
        background-color: gold;
        color: black;
        border: 2px solid black;
        display: block;
        margin: auto;
        padding: 2px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 5px;
        margin-top: 15px;
        width: 125px;
    }
}

@media screen and (min-width: 992px) {
    .sectionstory {
        background: none;
        display: flex;
    }

    .sectionstory #geekorigin {
        display: none;
    }

    .sectionstory #geekstory {
        display: block;
        width: 430px;
        margin-left: 15px;
    }

    .sectionstory .origins {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        margin-left: 15px;
        margin-top: 60px;
    }

    .sectionstory .origins h2 {
        font-size: 100px;
        margin-top: 5px;
        text-align: start;
        font-style: italic;
        margin-left: 10px;
    }

    .sectionstory .origins p {
        font-family: "Kdam Thmor Pro", sans-serif;
        color: white;
        font-size: 35px;
        margin-bottom: 35px;
        text-align: justify;
        font-style: italic;
        width: 700px;
    }

    .sectionstory .origins a {
        font-family: "Kdam Thmor Pro", sans-serif;
        font-size: 27px;
        text-align: start;
        text-decoration: none;
        background-color: gold;
        color: black;
        border: 2px solid black;
        padding: 10px;
        padding-left: 105px;
        padding-right: 105px;
        position: relative;
        left: 85px
    }

}

@media screen and (min-width: 1600px) {
    .sectionstory {
        background: none;
        display: flex;
    }

    .sectionstory #geekorigin {
        display: none;
    }

    .sectionstory #geekstory {
        display: block;
        width: 500px;
        margin-left: 85px;
    }

    .sectionstory .origins {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        margin-left: 95px;
        margin-top: 60px;
    }

    .sectionstory .origins h2 {
        font-size: 130px;
        margin-top: 5px;
        text-align: start;
        font-style: italic;
        margin-left: 10px;
    }

    .sectionstory .origins p {
        font-family: "Kdam Thmor Pro", sans-serif;
        color: white;
        font-size: 50px;
        margin-bottom: 35px;
        text-align: justify;
        font-style: italic;
        width: 800px;
    }

    .sectionstory .origins a {
        font-family: "Kdam Thmor Pro", sans-serif;
        font-size: 27px;
        text-align: start;
        text-decoration: none;
        background-color: gold;
        color: black;
        border: 2px solid black;
        padding: 20px;
        padding-left: 105px;
        padding-right: 105px;
        position: relative;
        left: 215px
    }

}