.sectionjeu {
    background-color: rgba(0, 0, 131, 0.915);
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 25px;
}

.sectionjeu img {
    width: 100%;
}

.sectionjeu #geek {
    display: none;
}

.sectionjeu .gamer h2 {
    font-size: 55px;
    font-family: "Kdam Thmor Pro", sans-serif;
    text-align: center;
    color: gold;
    font-weight: bold;
    font-variant: small-caps;
    font-variant-caps: all-small-caps;
}

.sectionjeu .gamer p {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 18px;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
    color: white;
    margin-bottom: 35px;
    margin-top: 10px;
}

.sectionjeu .gamer a {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 20px;
    margin-top: 55px;
    text-align: center;
    text-decoration: none;
    background-color: gold;
    color: black;
    border: 2px solid black;
    margin: auto;
    padding: 2px;
    padding-left: 85px;
    padding-right: 85px;
    margin-left: 89px;
    border-radius: 5px;
    margin-top: 15px;
}

@media screen and (min-width: 992px) {
    .sectionjeu {
        background: none;
        display: flex;
    }

    .sectionjeu img {
        width: 500px;
    }

    .sectionjeu #one {
        display: none;
    }

    .sectionjeu #geek {
        display: flex;
        margin-left: 55px;
    }

    .sectionjeu .gamer {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        margin-right: 155px;
        margin-left: 10px;
        margin-top: 60px;
    }

    .sectionjeu .gamer h2 {
        font-size: 100px;
        margin-top: 10px;
        text-align: start;
        font-style: italic;
        margin-left: 10px;
    }

    .sectionjeu .gamer p {
        font-family: "Kdam Thmor Pro", sans-serif;
        color: white;
        font-size: 35px;
        margin-bottom: 35px;
        text-align: justify;
        font-style: italic;
        width: 655px;
    }

    .sectionjeu .gamer a {
        font-family: "Kdam Thmor Pro", sans-serif;
        font-size: 27px;
        text-align: start;
        text-decoration: none;
        background-color: gold;
        color: black;
        border: 2px solid black;
        padding: 10px;
        padding-left: 105px;
        padding-right: 105px;
        position: relative;
        right: 5px
    }

}