#sparkingwelcome img {
    width: 290px;
    display: block;
    margin: auto;
}

#sparkingwelcome p {
    font-family: "Permanent Marker", cursive;
    font-size: 18px;
    text-align: center;
    color: gold;
}

#sparkingarticle {
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    gap: 3px;

}

#sparkingarticle ul li {
    margin-top: 5px;
    border: 2px solid black;
    list-style: none;
    width: 350px;
    margin-bottom: 5px;
    background-color: black;
    text-align: center;
    border-radius: 3px;
    border: 3px solid black;
}

#sparkingarticle ul li a {
    font-family: "Kdam Thmor Pro", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    margin-top: 5px;
}

#sparkingarticle img {
    width: 100%;
}

#sparkingarticle p {
    font-size: 12px;
}

@media screen and (min-width: 992px) {
    #sparkingbody {
        background: rgb(0, 15, 230);
        background: linear-gradient(180deg, rgba(0, 15, 230, 1) 0%, rgba(0, 205, 218, 1) 100%) no-repeat;
    }

    #sparkingwelcome img {
        width: 380px;
        display: block;
        margin: auto;
    }

    #sparkingwelcome p {
        font-family: "Permanent Marker", cursive;
        font-size: 32px;
        text-align: center;
        color: gold;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: darkblue;
    }

    #sparkingarticle {
        margin-left: 6px;
        margin-right: 6px;
        border-radius: 5px;
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        flex-wrap: wrap-reverse;
        gap: 6px;
    }


    #sparkingarticle ul li {
        margin-top: 5px;
        border: 2px solid black;
        list-style: none;
        width: 450px;
        margin-bottom: 5px;
        background-color: black;
        text-align: center;
        border-radius: 3px;
        border: 3px solid black;


    }

    #sparkingarticle ul li a {
        font-family: "Kdam Thmor Pro", sans-serif;
        color: white;
        text-decoration: none;
        font-size: 20px;
        text-align: center;
        margin-top: 5px;
    }

    #sparkingarticle img {
        width: 100%;
    }

    #sparkingarticle p {
        font-size: 12px;
    }

}