#sparkheader {
    background-color: darkblue;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#sparkheader .avatar {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    margin-right: 25px;
    margin-top: 7px;
}

#sparkheader .sparkmenu {
    width: 45px;
    height: 45px;
    position: relative;
    left: 1px;
    top: 12px;
}

.sparkingeeklogo {
    width: 240px;
    margin-right: 15px;
    margin-top: 2px;
}

@media screen and (min-width: 992px) {
    #sparkheader {
        background-color: darkblue;
        justify-content: space-around;
        height: 97px;
    }

    #sparkheader .avatar {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        position: relative;
        top: 12px;
        left: 995px;
    }

    #sparkheader .sparkmenu {
        width: 45px;
        height: 45px;
        position: relative;
        left: 10px;
        top: 12px;
        display: none;
    }

    #sparkheader .sparkingeeklogo {
        width: 320px;
        position: relative;
        right: 860px;
        top: 2px;
    }
}