#histoire h2 {
    background-color: darkblue;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-variant: small-caps;
    font-variant-caps: all-small-caps;
    color: gold;
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
}

#histoire p {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 18px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: justify;
    color: white;
}

@media screen and (min-width: 992px) {
    #histoire {
        width: 700px;
        background-color: darkblue;
        border-radius: 5px;
        position: absolute;
        left: 15px;
        top: 715px;

    }

    #histoire h2 {
        font-size: 45px;
        background: none;
        text-align: center;
        font-family: "Kdam Thmor Pro", sans-serif;
        font-variant: small-caps;
        font-variant-caps: all-small-caps;
        color: gold;
    }

    #histoire p {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 25px;
        color: white;
        font-family: "Kdam Thmor Pro", sans-serif;
        font-size: 19px;
        text-align: justify;
    }
}