@import url(header.css);
@import url(bag.css);
@import url(sectionjeu.css);
@import url(section.css);
@import url(bienvenue.css);
@import url(navigation.css);
@import url(footer.css);
@import url(sparking.css);
@import url(card.css);
@import url(game.css);
@import url(gamenav.css);
@import url(avis.css);
@import url(note.css);
@import url(jeux.css);
@import url(gamepic.css);
@import url(form.css);
@import url(propos.css);
@import url(login.css);
@import url(sectionstory.css);
@import url(bagboard.css);
@import url(alert.css);
@import url(span.css);
@import url(critic.css);
@import url(story.css);
@import url(dash.css);
@import url(table.css);
@import url(screenshots.css);
@import url(diapo.css);
@import url(details.css);
@import url(sparkingwindow.css);
@import url(sparkingheader.css);
@import url(article.css);
@import url(coordination.css);
@import url(return.css);
@import url(like.css);
@import url(hey.css);
@import url(creator.css);
@import url(sectiongame.css);
@import url(sectionarticle.css);
@import url(articlewindow.css);
@import url(ajouter.css);
@import url(class.css);
@import url(fightgame.css);
@import url(horrorgame.css);
@import url(fightoraventure.css);
@import url(action.css);
@import url(retour.css);
@import url(filter.css);

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(0, 17, 250);
    background: linear-gradient(164deg, rgba(0, 17, 250, 1) 0%, rgba(0, 201, 255, 1) 58%, rgba(0, 255, 30, 1) 100%) no-repeat;
}

.sparkingbody {
    background: rgb(0, 24, 180);
    background: linear-gradient(165deg, rgba(0, 24, 180, 1) 25%, rgba(0, 206, 255, 1) 56%, rgba(150, 0, 186, 1) 81%) no-repeat;
}

h3 {
    font-family: "Kdam Thmor Pro", sans-serif;
    text-align: center;
    color: white;
    margin-top: 25px;
    font-size: 30px;
}

#categories h2 {
    font-family: "Kdam Thmor Pro", sans-serif;
    color: gold;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 25px;
}