table {
    margin-left: 25px;
    margin-top: 15px;
}

table tr {
    gap: 198px;
    display: flex;
    text-align: center;
    margin-left: 15px;
}

table th {
    font-family: "Kdam Thmor Pro", sans-serif;
}

tbody tr {
    gap: 65px;
    display: flex;
}

tbody td {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 100;
}

@media screen and (min-width: 992px) {
    table {
        margin-left: 25px;
        margin-top: 15px;
    }

    table tr {
        gap: 490px;
        display: flex;
        text-align: center;
        margin-left: 15px;
    }

    table th {
        font-family: "Kdam Thmor Pro", sans-serif;
    }

    tbody tr {
        gap: 380px;
        display: flex;
    }

    tbody td {
        font-family: "Kdam Thmor Pro", sans-serif;
        font-weight: 100;
    }
}